.featurePost_container{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(59, 57, 57);
}

.feature_inner{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.feature_containt{
    width: 15%;
    height: 100px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.img_container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature_containt h3{
    font-size: 12px;
    position: relative;
    top: 50%;
    color: white;
}

.img_container img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}